
<script type="text/javascript" src="/static/web/lib/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript" src="/static/web/lib/layer/2.4/layer.js"></script>
<script type="text/javascript" src="/static/web/h-ui/js/H-ui.js"></script>
<!--<script type="text/javascript" src="/static/web/h-ui.admin/js/H-ui.admin.js"></script>-->
<script type="text/javascript" src="/static/web/h-ui.admin/js/H-ui.admin.page.js"></script> <!--/_footer 作为公共模版分离出去-->


<!--请在下方写此页面业务相关的脚本-->

<script type="text/javascript" src="/static/web/lib/My97DatePicker/4.8/WdatePicker.js"></script>
<script type="text/javascript" src="/static/web/lib/datatables/1.10.0/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="/static/web/lib/laypage/1.2/laypage.js"></script>
<script type="text/javascript">
    $(function () {
        var nowaction="{:request()->action()}";
        var con = "{:request()->controller()}";

        $('.child-'+nowaction).addClass('current');
        $(".child-"+nowaction).parent().parent().attr("style","display:block");

    })

</script>