{include file="public/meta" /}
<![endif]-->
<title>分销用户</title>
<meta name="keywords" content="">
<meta name="description" content="">
</head>
<body>
{include file="public/header" /}
{include file="public/menu" /}

<div class="dislpayArrow hidden-xs"><a class="pngfix" href="javascript:void(0);" onClick="displaynavbar(this)"></a></div>
<!--/_menu 作为公共模版分离出去-->

<section class="Hui-article-box">
	<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i><a class="" href="{:url('index/index')}">首页</a>
		<span class="c-gray en">&gt;</span>
		分销管理
		<span class="c-gray en">&gt;</span>
		分销用户
		<a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a>
	</nav>
	<div class="Hui-article">
		<article class="cl pd-20">
			<div class="text-c">

					日期范围：
					<input type="text" onfocus="WdatePicker()" id="starttime" class="input-text Wdate" style="width:120px;">
					-
					<input type="text" onfocus="WdatePicker()" id="endtime" class="input-text Wdate" style="width:120px;">

				<input type="text" name="nickname" placeholder=" 用户名称/UID" style="width:250px" id="nickname" class="input-text">
				<button name="" id="search" class="btn btn-success" type="button"><i class="Hui-iconfont">&#xe665;</i> 查询</button>
			</div>

			<div class="mt-20">
				<table class="table table-border table-bordered table-bg table-hover table-sort">

				</table>
			</div>
		</article>
	</div>
</section>

<!--_footer 作为公共模版分离出去-->
{include file="public/footer" /}
<!--请在下方写此页面业务相关的脚本-->

<script>
    $(document).ready(function(){
        //初始化博客分类树
        //异步查询数据
        table = $('.table-sort').dataTable({
            "bStateSave": false,//状态保存
            "bServerSide" : true, //是否启动服务器端数据导入
            "bFilter": false, //去掉默认自带的搜索框
            "aLengthMenu" : [10,20,40, 60, 100],
            "sAjaxSource" : "{:url('distr/distruserlist')}",
            "fnServerParams" : function(aoData) {
                aoData.push({
                    "name" : "criteria",
                    "value" : {

                        "phone" : $("#phone").val(),
                        "nickname" : $("#nickname").val(),
                        "endtime" : $("#endtime").val(),
                        "starttime" : $("#starttime").val(),
                    }
                });
            },
            "aoColumns" : [{
                "mData" : "id",
                "sTitle" : "UID",

                "sDefaultContent" : "",
                "sClass" : "text-c"
            },{
                "mData" : "header_url",
                "sTitle" : "头像",

                "sDefaultContent" : "",
                "sClass" : "text-c",
                "mRender" : function(data,type,full) {
                    console.log(full);
                    return '<img src="'+data+'" style="width: 60px"/>';
                },
            } ,{
                "mData" : "nickname",
                "sTitle" : "昵称",
                "sDefaultContent" : "",
                "sClass" : "text-c"
            },{
                "mData" : "phone",//对应的属性名
                // "bSortable" : false,//是否需要排序，默认是true
                "sTitle" : "手机号", //列名
                "sDefaultContent" : "",//默认值
                "sClass" : "text-c"//相当于css中的text-align，有text-l、text-c、text-r（左中右）这三个选择
            },{
                "mData" : "ren_num",
                "sTitle" : "推广人数",
                "sDefaultContent" : "",
                "sClass" : "text-c",

            }
                ,{
                    "mData" : "achi_num",
                    "sTitle" : "推广绩效",
                    "sDefaultContent" : "",
                    "sClass" : "text-c",

                }
                ,{
                    "mData" : "create_time",
                    "sTitle" : "时间",
                    "sDefaultContent" : "",
                    "sClass" : "text-c",

                }],

            "columnDefs": [{ "orderable": false, "targets": 1 }],
            "fnServerData" : function(sSource, aoData, fnCallback) {

                $.ajax({
                    type : 'POST',
                    url : sSource,
                    async : false,
                    data : {
                        "aoData" : JSON.stringify(aoData)
                    },
                    success : fnCallback,

                    error : function(XMLHttpRequest, textStatus, errorThrown) {
                        alert(XMLHttpRequest.status + "," + textStatus);
                    }
                });
            },
            "fnCallback" : function(data, aData, iDisplayIndex) {
                console.log(22,data);
            },
            "fnRowCallback" : function(nRow, aData, iDisplayIndex) {
                console.log(123,nRow,aData);
                var ren = "<a href='"+aData.distr_url+"' >"+aData.ren_num+"</a>";
                $('td:eq(4)', nRow).html(ren);
                var achi = "<a href='"+aData.achi_url+"' >"+aData.achi_num+"</a>";
                $('td:eq(5)', nRow).html(achi);
                //
                // var cstr =
                // $('td:eq(9)', nRow).html(cstr);
                //
                return nRow;
            }
        });
        //注册查询按钮事件
        $("#search").bind("click", function () {
            //做一些js的格式验证
            table.fnDraw();
        });

    });

</script>
<script type="text/javascript">

    function del(id) {

        $.ajax({

            type: "POST",

            url: "{:url('goods/goodsdel')}",

            cache: false,

            dataType:"json",

            data: {

                id:id,

            },		//表单ID

            success: function(data) {

                console.log(data.statu);

                if(data.statu == 0){

                    layer.msg("删除成功");

                    setTimeout(function () {

                        window.location.reload();

                    },500)

                }

                if(data.statu == 1){

                    alert("删除失败");

                }

            }

        })

    }

</script>

<!--此乃百度统计代码，请自行删除-->

<!--/此乃百度统计代码，请自行删除-->
</body>
</html>