<div  class="footer_box" style="background:#ffffff">
    <div class=" footer_in">
        <div class="item_cell_boxs">
            <div class="footer_item" style="width:50%">
                <a href="{:url('index/index',array('platid'=>$user['uniacid']))}" class="footer_button click_button"  style="background:#fff;">
                    <img class="footer_item_img"  src="/static/img/my.png"/>
                    <div class="footer_item_name" >首页</div>
                </a>
            </div>
            <div class="footer_item" style="width:50%">

                <a href="{:url('member/index',array('platid'=>$user['uniacid']))}" class="footer_button click_button"  style="background:#fff;">
                    <img class="footer_item_img"  src="/static/img/list.png"/>
                    <div class="footer_item_name" >我的</div>
                </a>
            </div>
        </div>
    </div>
</div>